body{
    display: block;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

}
p{
    margin: 1em;
}

article{
    display: inline-block;
    margin: 2%;
    background-color: rgb(209, 186, 247);
    border-radius: 1.1em;
    padding: 2em;
}

#buscador{
    margin: 2%;
    background-color: rgb(209, 186, 247);
    border-radius: 1.1em;
    padding: 1em;
    font-size: 1.2em;
    display: block;
}

input[type="radio"]{
    display: inline-block;
    margin: 1em;
}

div{
    margin: 1.3em;
}

article img{
    float:left;
    height: 200px;
    width: 350px;
    border: thin solid rgb(63, 20, 104);
    border-radius: 1.1em;
    margin-right: 3%;
}

/* COLORS */
body{
    background-color:rgb(235, 220, 245);
    color:black;
}
h1{
    text-align:center;
    color:rgb(39, 11, 65);
}
h2{
    text-align:center;
    color:rgb(77, 0, 128);
}
h3{
    text-align:center;
    color:rgb(80, 9, 106);
}

p{
    color:black;
}

a:visited, a {
    color: rgb(57, 6, 92);
}
